{
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "env": {
    "browser": false,
    "es6": true,
    "node": true,
    "jest/globals": true
  },
  "parser": "babel-eslint",
  "rules": {
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true
      }
    ],
    "no-console": "off"
  },
  "plugins": ["jest"]
}
