.contentArea
  display: flex
  flex-direction: column
  box-sizing: border-box
  height: 100vh
  padding-top: 56px
  .textArea
    flex: 1
    padding: 0 16px 16px
    overflow-y: auto
  .audioArea
    height: 150px
    background-color: #1B1D1D
.grow
  flex: 1